{{ define "main" }}
<main>
	<section id="nav-about" class="mt-20">
		<div class="container mx-auto px-5">
			<div class="space-y-6">
				<div class="h-[1px] bg-gradient-to-r from-[#00bb55] via-[#00bb55]/70 to-black _section_bar" style="width: 0px;"></div>
				<h2 class="text-lg sm:text-2xl italic font-bold text-[#00bb55] [text-shadow:_1px_1px_20px_rgba(0,187,85,0.8)]" style="opacity: 0;">{{ .Site.Params.Store.Location }} 최대규모 {{ .Site.Params.Store.Category }}</h2>
			</div>
			<div class="mt-8 space-y-3">
				<h1 class="text-2xl sm:text-4xl font-extrabold text-white">{{ .Site.Title }}</h1>
				<div class="text-sm sm:text-base text-gray-200">{{ .Site.Params.Description }}</div>
			</div>
		</div>
		<div class="space-y-1 mt-6">
			<ul id="carousel-girls" class="overflow-x-scroll whitespace-nowrap no-scrollbar text-center">
				{{ $site := .Site }}
				{{ range $i, $img := resources.Match "/carousel/girls/*.png" | collections.Shuffle }}
				<li class="inline-block" oncontextmenu="return false;" ondragstart="return false;">
					<img src="{{$img.Permalink}}" alt="{{ $site.Params.Store.Location }} {{ $site.Params.Store.Name }} {{ $site.Params.Store.Category }} 아가씨 이미지 {{ $i }}" class="w-[100px] sm:w-[150px]">
				</li>
				{{ end }}
			</ul>
			<ul id="carousel-rooms" class="overflow-x-scroll whitespace-nowrap no-scrollbar text-center">
				{{ $site := .Site }}
				{{range $i, $img := resources.Match "/carousel/rooms/*.png" | collections.Shuffle }}
				<li class="inline-block" oncontextmenu="return false;" ondragstart="return false;">
					<img src="{{$img.Permalink}}" alt="{{ $site.Params.Store.Location }} {{ $site.Params.Store.Name }} {{ $site.Params.Store.Category }} 룸 이미지 {{ $i }}" class="w-[100px] sm:w-[150px]">
				</li>
				{{end}}
			</ul>
		</div>
		<script>
		{
			let $ul1 = document.querySelector("#carousel-girls")
			$ul1.scrollLeft = $ul1.scrollWidth
			setInterval(() => {
				if ($ul1.scrollLeft <= 0) {
					$ul1.scrollLeft = $ul1.scrollWidth
				} else {
					$ul1.scrollLeft -= 1
				}
			}, 20)
			let $ul2 = document.querySelector("#carousel-rooms")
			setInterval(() => {
				if ($ul2.scrollLeft >= $ul2.scrollWidth - $ul2.clientWidth) {
					$ul2.scrollLeft = 0
				} else {
					$ul2.scrollLeft += 1
				}
			}, 20)
		}
		</script>
	</section>
	<section id="nav-search" class="mt-20 bg-gradient-to-r from-gray-900/50 to-black py-10">
		<div class="container mx-auto px-5">
			<div class="space-y-6">
				<div class="h-[1px] bg-gradient-to-r from-[#00bb55] via-[#00bb55]/70 to-black _section_bar" style="width: 0px;"></div>
				<h2 class="text-lg sm:text-2xl italic font-bold text-[#00bb55] [text-shadow:_1px_1px_20px_rgba(0,187,85,0.8)]" style="opacity: 0;">{{ .Site.Params.Store.Name }} 정보</h2>
			</div>
			<div class="mt-8 space-y-3">
				<h3 class="text-2xl sm:text-4xl font-extrabold text-white">{{ .Site.Params.Store.Name }}. 직관적으로 빠르게 탐색</h3>
				<article class="text-sm sm:text-base text-gray-200 space-y-2">
					<p><span class="font-bold bg-gradient-to-r from-orange-700 via-blue-500 to-[#00bb55] text-transparent bg-clip-text animate-gradient">{{ .Site.Params.Store.Location }} {{ .Site.Params.Store.Name  }} {{ .Site.Params.Store.Category }}</span>의 궁금한 정보를 빠르게 탐색 할 수 있어요. 그 외 자세한 문의는 전화상담을 통해 친절히 안내 받으실 수 있어요!</p>
				</article>
			</div>
		</div>
		<div class="container mx-auto px-5 mt-6 space-y-6 sm:space-y-0 sm:grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
			<div class="bg-gray-900 hover:bg-gray-800 rounded-lg p-5 relative">
				{{ partial "icon/gift" "w-8 text-[#00bb55] mb-3" }}
				<div data-target="#nav-event" onclick="handleNavButtonClick(event)">
					{{ partial "icon/arrow-up-right" "w-8 text-gray-600 absolute top-5 right-5 cursor-pointer hover:text-gray-400 duration-300" }}
				</div>
				<h3 class="text-gray-100 font-bold text-lg">이벤트</h3>
				<div class="h-[1px] w-full bg-gray-500/50 my-2"></div>
				<p class="text-sm text-gray-200">{{ .Site.Params.Store.Name }} {{ .Site.Params.Store.Category }}의 다양한 무료, 할인 이벤트 정보를 확인해보세요! 예약을 통해 더욱 알찬 혜택을 누리실 수 있어요.</p>
			</div>
			<div class="bg-gray-900 hover:bg-gray-800 rounded-lg p-5 relative">
				{{ partial "icon/clock" "w-8 text-[#00bb55] mb-3" }}
				<div data-target="#nav-hours" onclick="handleNavButtonClick(event)">
					{{ partial "icon/arrow-up-right" "w-8 text-gray-600 absolute top-5 right-5 cursor-pointer hover:text-gray-400 duration-300" }}
				</div>
				<h3 class="text-gray-100 font-bold text-lg">영업 시간</h3>
				<div class="h-[1px] w-full bg-gray-500/50 my-2"></div>
				<p class="text-sm text-gray-200">{{ .Site.Params.Store.Name }} {{ .Site.Params.Store.Category }}의 영업 시간 정보를 확인해보세요! 편리한 시간에 방문하실 수 있도록 안내해드려요.</p>
			</div>
			<div class="bg-gray-900 hover:bg-gray-800 rounded-lg p-5 relative">
				{{ partial "icon/dollar" "w-8 text-[#00bb55] mb-3" }}
				<div data-target="#nav-price" onclick="handleNavButtonClick(event)">
					{{ partial "icon/arrow-up-right" "w-8 text-gray-600 absolute top-5 right-5 cursor-pointer hover:text-gray-400 duration-300" }}
				</div>
				<h3 class="text-gray-100 font-bold text-lg">인당 가격</h3>
				<div class="h-[1px] w-full bg-gray-500/50 my-2"></div>
				<p class="text-sm text-gray-200">{{ .Site.Params.Store.Name }} {{ .Site.Params.Store.Category }}의 인당 가격 정보를 확인 하신 후 합리적인 정찰제 가격으로 최고의 서비스를 이용하세요.</p>
			</div>
			<div class="bg-gray-900 hover:bg-gray-800 rounded-lg p-5 relative">
				{{ partial "icon/map" "w-8 text-[#00bb55] mb-3" }}
				<div data-target="#nav-map" onclick="handleNavButtonClick(event)">
					{{ partial "icon/arrow-up-right" "w-8 text-gray-600 absolute top-5 right-5 cursor-pointer hover:text-gray-400 duration-300" }}
				</div>
				<h3 class="text-gray-100 font-bold text-lg">오시는 길</h3>
				<div class="h-[1px] w-full bg-gray-500/50 my-2"></div>
				<p class="text-sm text-gray-200">{{ .Site.Params.Store.Name }} {{ .Site.Params.Store.Category }}의 위치와 주소를 확인할 수 있어요. 편리한 교통편 안내로 쉽게 찾아오실 수 있어요.</p>
			</div>
		</div>
	</section>
	<script>
	{
		// observer animation
		let $$sectionBar = document.querySelectorAll("._section_bar")
		for (let $ of $$sectionBar) {
			let observer = new IntersectionObserver((entries) => {
				entries.forEach(entry => {
					if (entry.isIntersecting) {
						$.style.transition = "width 1s ease-in-out"
						$.style.width = "100%"
					} else {
						$.style.transition = "width 0.5s ease-in-out"
						$.style.width = "0px"
					}
				})
			}, {threshold: 0.5})
			observer.observe($)
		}
		let $$h2InSection = document.querySelectorAll("section h2")
		for (let $ of $$h2InSection) {
			let observer = new IntersectionObserver((entries) => {
				entries.forEach(entry => {
					if (entry.isIntersecting) {
						$.classList.add("animate-fade-up")
						$.style.opacity = "1"
					} else {
						$.classList.remove("animate-fade-up")
						$.style.opacity = "0"
					}
				})
			}, {threshold: 0.5})
			observer.observe($)
		}
	}
	</script>
</main>
{{ end }}
